Host *
{{- if eq .pwm "1p" }}
  IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
{{- else }}
  UseKeychain yes
  IdentitiesOnly yes
  AddKeysToAgent yes
{{- end }}
{{ if .work }}
{{ else }}
Host gitlab-ddtn
  HostName gitlab.com
  User divdus-tarnus
  IdentityFile ~/.ssh/id_gitlab.pub

Host bisnem
  HostName bisnem.net
  User urbit
  IdentityFile ~/.ssh/id_do_bisnem.pub

Host divdus-tarnus
  HostName ddtn.bisnem.net
  User urbit
  IdentityFile ~/.ssh/id_do_planet.pub

Host github-ddtn
  HostName github.com
  User divdus-tarnus
  IdentityFile ~/.ssh/id_github_personal.pub
{{- end }}
